# Most Used Pandas Functions for Data Analytics

In [1]:
import pandas as pd 
import numpy as np  
import matplotlib.pyplot as plt

#  Data Loading

 pd.read_csv() - Load CSV files //

 pd.read_excel() - Load Excel files //

 pd.read_json() - Load JSON files // 

 pd.read_sql() - Read from SQL database  //

 df.to_csv() - Save dataframe to CSV  // 
 
 df.to_excel() - Save dataframe to Excel  //

In [2]:
data = pd.read_csv("project1_df.csv")
data

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [3]:
f1 = pd.DataFrame(np.random.randn(5,5))
f1

          0         1         2         3         4
0  0.272837  1.734263  1.206496  0.125115  0.350625
1  0.634403 -0.964526 -0.680897 -1.252553  0.780095
2 -1.636880 -0.642719  0.905920 -0.917060 -0.248251
3  0.668073 -0.245925 -1.309673 -0.054714  1.160978
4 -2.195193 -0.519135 -1.060887 -0.255817  0.416972

In [4]:
f1.to_csv('new_file.csv')

# Data Exploration & Summary

 df.head(n) - View top n rows

In [5]:
data

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [6]:
data.head()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi

 df.tail(n) - View bottom n rows

In [7]:
data.tail()

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.9073,2709.0173,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.3039,3402.7139,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.6875,3677.0575,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.4735,3772.9135,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.5819,3322.7719,Credit Card,Mumbai

 df.info() - Summary of dataframe

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55000 entries, 0 to 54999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CID                    55000 non-null  int64
 1   TID                    55000 non-null  int64
 2   Gender                 55000 non-null  object
 3   Age Group              55000 non-null  object
 4   Purchase Date          55000 non-null  object
 5   Product Category       55000 non-null  object
 6   Discount Availed       55000 non-null  object
 7   Discount Name          27415 non-null  object
 8   Discount Amount (INR)  55000 non-null  float64
 9   Gross Amount           55000 non-null  float64
 10  Net Amount             55000 non-null  float64
 11  Purchase Method        55000 non-null  object
 12  Location               55000 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 5.5+ MB

df.describe() - Statistical summary

In [9]:
data.describe()

,CID,TID,Discount Amount (INR),Gross Amount,Net Amount
count,55000.000000,5.500000e+04,55000.000000,55000.000000,55000.000000
mean,551245.593891,5.504740e+09,136.986796,3012.936606,2875.949810
std,260603.330337,2.594534e+09,165.375502,1718.431066,1726.127778
min,100009.000000,1.000163e+09,0.000000,136.454325,-351.119775
25%,323717.000000,3.252604e+09,0.000000,1562.111325,1429.551863
50%,550088.500000,5.498383e+09,0.000000,2954.266150,2814.910875
75%,776955.750000,7.747933e+09,274.115000,4342.221675,4211.407838
max,999996.000000,9.999393e+09,500.000000,8394.825600,8394.825600

 df.shape - Rows and columns

In [10]:
data.shape

(55000, 13)

df.columns - Column name

In [11]:
data.columns

Index(['CID', 'TID', 'Gender', 'Age Group', 'Purchase Date',
       'Product Category', 'Discount Availed', 'Discount Name',
       'Discount Amount (INR)', 'Gross Amount', 'Net Amount',
       'Purchase Method', 'Location'],
      dtype='object')

df.dtypes - Data types

In [12]:

data.dtypes

CID                        int64
TID                        int64
Gender                    object
Age Group                 object
Purchase Date             object
Product Category          object
Discount Availed          object
Discount Name             object
Discount Amount (INR)    float64
Gross Amount             float64
Net Amount               float64
Purchase Method           object
Location                  object
dtype: object

df.isnull().sum() - Count missing values

In [13]:
data.isnull().sum()

CID                          0
TID                          0
Gender                       0
Age Group                    0
Purchase Date                0
Product Category             0
Discount Availed             0
Discount Name            27585
Discount Amount (INR)        0
Gross Amount                 0
Net Amount                   0
Purchase Method              0
Location                     0
dtype: int64

 df.value_counts() - Count unique values in a Series

In [14]:
data['Gender'].value_counts()

Gender
Female    18454
Other     18450
Male      18096
Name: count, dtype: int64

# Data Selection & Filtering

 df['column'] or df.column - Select a column

In [15]:
data

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [16]:
data['Age Group']

0               25-45
1               25-45
2        60 and above
3        60 and above
4               18-25
             ...
54995           25-45
54996           18-25
54997           45-60
54998           45-60
54999           25-45
Name: Age Group, Length: 55000, dtype: object

 df[['col1', 'col2']] - Select multiple columns

In [17]:
data[['Age Group', 'CID']]

          Age Group     CID
0             25-45  943146
1             25-45  180079
2      60 and above  337580
3      60 and above  180333
4             18-25  447553
...             ...     ...
54995         25-45  295864
54996         18-25  706435
54997         45-60  649435
54998         45-60  982183
54999         25-45  126691

[55000 rows x 2 columns]

df.loc[] - Label-based indexing

In [18]:
data

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [19]:
data.loc[1]

CID                                   180079
TID                               1018503182
Gender                                  Male
Age Group                              25-45
Purchase Date            23/02/2024 09:33:46
Product Category                 Electronics
Discount Availed                         Yes
Discount Name                SEASONALOFFER21
Discount Amount (INR)                 175.19
Gross Amount                     4638.991875
Net Amount                       4463.801875
Purchase Method                  Credit Card
Location                           Bangalore
Name: 1, dtype: object

 df.iloc[] - Position-based indexing

In [20]:
data.iloc[5]

CID                                   200614
TID                               3994452858
Gender                                  Male
Age Group                              18-25
Purchase Date            12/07/2021 15:10:27
Product Category                    Clothing
Discount Availed                         Yes
Discount Name                      FESTIVE50
Discount Amount (INR)                 127.01
Gross Amount                       3649.3974
Net Amount                         3522.3874
Purchase Method                  Credit Card
Location                               Delhi
Name: 5, dtype: object

In [21]:

data.index = list('ABCDEFGHIJKLM') + list(range(13, len(data)))
data.head(15)

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
A,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
B,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
C,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
D,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
E,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
F,200614,3994452858,Male,18-25,12/07/2021 15:10:27,Clothing,Yes,FESTIVE50,127.01,3649.397400,3522.387400,Credit Card,Delhi
G,668787,9460023916,Male,25-45,08/10/2023 16:59:52,Electronics,No,NaN,0.00,5593.935600,5593.935600,PhonePe UPI,Delhi
H,933551,6877673032,Female,18-25,14/12/2022 20:13:45,Electronics,No,NaN,0.00,1901.796400,1901.796400,Credit Card,Delhi
I,414167,2841266620,Male,18-25,29/04/2020 09:10:46,Pet Care,No,NaN,0.00,3961.671000,3961.671000,Debit Card,Delhi
J,889269,1342270638,Other,60 and above,18/12/2023 19:04:02,Clothing,Yes,SAVE10,437.50,1497.350400,1059.850400,Credit Card,Bangalore
K,931578,5168806107,Other,25-45,09/12/2022 19:54:47,Clothing,No,NaN,0.00,7824.165300,7824.165300,Credit Card,Other
L,629298,2229511931,Other,45-60,02/11/2021 15:37:38,Electronics,No,NaN,0.00,988.172900,988.172900,Google Pay UPI,Chennai
M,665042,3754858574,Female,25-45,23/09/2020 02:22:00,Electronics,Yes,SEASONALOFFER21,97.88,3508.937775,3411.057775,Net Banking,Dehradun
13,570860,6791123870,Male,25-45,15/02/2020 05:51:55,Electronics,Yes,FESTIVE50,269.87,618.109800,348.239800,Cash on Delivery,Chennai
14,367541,9916932604,Other,18-25,26/09/2021 06:13:58,Home & Kitchen,Yes,NEWYEARS,268.70,560.960400,292.260400,Credit Card,Pune

In [22]:
data.loc['A']

CID                                   943146
TID                               5876328741
Gender                                Female
Age Group                              25-45
Purchase Date            30/08/2023 20:27:08
Product Category                 Electronics
Discount Availed                         Yes
Discount Name                      FESTIVE50
Discount Amount (INR)                   64.3
Gross Amount                         725.304
Net Amount                           661.004
Purchase Method                  Credit Card
Location                           Ahmedabad
Name: A, dtype: object

In [23]:
data.iloc[0]

CID                                   943146
TID                               5876328741
Gender                                Female
Age Group                              25-45
Purchase Date            30/08/2023 20:27:08
Product Category                 Electronics
Discount Availed                         Yes
Discount Name                      FESTIVE50
Discount Amount (INR)                   64.3
Gross Amount                         725.304
Net Amount                           661.004
Purchase Method                  Credit Card
Location                           Ahmedabad
Name: A, dtype: object

 df[df['column'] > value] - Filter rows by condition

In [24]:
data[data['Discount Amount (INR)'] > 100]

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
B,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
C,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
E,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
F,200614,3994452858,Male,18-25,12/07/2021 15:10:27,Clothing,Yes,FESTIVE50,127.01,3649.397400,3522.387400,Credit Card,Delhi
J,889269,1342270638,Other,60 and above,18/12/2023 19:04:02,Clothing,Yes,SAVE10,437.50,1497.350400,1059.850400,Credit Card,Bangalore
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

# Data Cleaning

 df.dropna() - Drop missing values

In [25]:
d = {
    "one":pd.Series([12,3,7,8,np.nan]),
    "two":pd.Series([78,96,np.nan,100,120])
}

In [26]:
d

{'one': 0    12.0
 1     3.0
 2     7.0
 3     8.0
 4     NaN
 dtype: float64,
 'two': 0     78.0
 1     96.0
 2      NaN
 3    100.0
 4    120.0
 dtype: float64}

In [27]:
df = pd.DataFrame(d)
df

    one    two
0  12.0   78.0
1   3.0   96.0
2   7.0    NaN
3   8.0  100.0
4   NaN  120.0

In [28]:
df.dropna()

    one    two
0  12.0   78.0
1   3.0   96.0
3   8.0  100.0

 df.fillna(value) - Fill missing values

In [29]:
d = {
    "one":pd.Series([12,3,7,8,np.nan]),
    "two":pd.Series([78,96,np.nan,100,120])
}

In [30]:
df = pd.DataFrame(d)
df

    one    two
0  12.0   78.0
1   3.0   96.0
2   7.0    NaN
3   8.0  100.0
4   NaN  120.0

In [31]:
df.fillna(5 , inplace = True)

 df.drop(columns=['col']) - Drop column(s)

In [32]:
df.drop(columns=['two'])

    one
0  12.0
1   3.0
2   7.0
3   8.0
4   5.0

 df.duplicated() / df.drop_duplicates() - Handle duplicates

In [33]:
d = {
    "one":pd.Series([12,12,7,7,7]),
    "two":pd.Series([78,96,100,100,100])
}

In [34]:
df2 = pd.DataFrame(d)

In [35]:
df2

   one  two
0   12   78
1   12   96
2    7  100
3    7  100
4    7  100

In [36]:
df2.duplicated()

0    False
1    False
2    False
3     True
4     True
dtype: bool

In [37]:
df2.drop_duplicates()

   one  two
0   12   78
1   12   96
2    7  100

 df.astype() - Convert data types

In [38]:
df

    one    two
0  12.0   78.0
1   3.0   96.0
2   7.0    5.0
3   8.0  100.0
4   5.0  120.0

In [39]:
df.dtypes

one    float64
two    float64
dtype: object

In [40]:
data = df.astype(int)

In [41]:
data

   one  two
0   12   78
1    3   96
2    7    5
3    8  100
4    5  120

# Data Transformation

df.apply() - Apply function to each row/column

In [45]:
data1 = pd.read_csv("project1_df.csv")
data1

,CID,TID,Gender,Age Group,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,25-45,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,25-45,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,60 and above,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,60 and above,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,18-25,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,25-45,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,18-25,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,45-60,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,45-60,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,25-45,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [51]:
data1.drop(columns=['Age Group'] , inplace= True)

In [52]:
data1

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location
0,943146,5876328741,Female,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad
1,180079,1018503182,Male,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi
...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai

In [56]:
data1['Purchase Method'].unique()

array(['Credit Card', 'Debit Card', 'PhonePe UPI', 'Google Pay UPI',
       'Net Banking', 'Cash on Delivery', 'Paytm UPI',
       'International Card'], dtype=object)

In [57]:
def purchase_method(card):
    if(card=='Credit Card'):
        return 1 
    if(card=='Debit Card'):
        return 2 
    if(card=='PhonePe UPI'):
        return 3 
    if(card == 'Google Pay UPI'):
        return 4 
    if(card == 'Net Banking'):
        return 5
    if(card=='Cash on Delivery'):
        return 6 
    if(card=='Paytm UPI'):
        return 7 
    if(card=='International Card'):
        return 8

In [62]:
data1['Purchase_method_numaric'] = data1['Purchase Method'].apply(purchase_method)

In [64]:
data1

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric
0,943146,5876328741,Female,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1
1,180079,1018503182,Male,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1

In [66]:
data1['Gender'].unique()

array(['Female', 'Male', 'Other'], dtype=object)

In [67]:
def gender_group(g):
    if(g=='Male'):
        return 1
    if(g=='Female'):
        return 2
    elif(g=='Other'):
        return 3

In [68]:
data1['Gender_numeric_format'] = data1['Gender'].apply(gender_group)

In [69]:
data1

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format
0,943146,5876328741,Female,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2
1,180079,1018503182,Male,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1

 df.map() - Map values in a Series

In [71]:
data1

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format
0,943146,5876328741,Female,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2
1,180079,1018503182,Male,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1

In [72]:
data1['Discount Availed'].unique()

array(['Yes', 'No'], dtype=object)

In [73]:
def discount_numeric(dis):
    if(dis=="Yes"):
        return 1
    elif(dis=='No'):
        return 0

In [74]:
data1['Discount_numeric_format'] =  data1['Discount Availed'].map(discount_numeric)

In [75]:
data1

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format,Discount_numeric_format
0,943146,5876328741,Female,30/08/2023 20:27:08,Electronics,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2,1
1,180079,1018503182,Male,23/02/2024 09:33:46,Electronics,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1,1
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3,1
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3,0
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electronics,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3,1
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electronics,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3,1
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2,1
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1,1

 df.replace() - Replace values

In [81]:
data1.replace("Electronics","Electric_product", inplace = True)

Here the electronics is replced with the Electric_product

Electronic--------->>>>>Electric_product

In [83]:
data1

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format,Discount_numeric_format
0,943146,5876328741,Female,30/08/2023 20:27:08,Electric_product,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2,1
1,180079,1018503182,Male,23/02/2024 09:33:46,Electric_product,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1,1
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3,1
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3,0
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electric_product,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3,1
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electric_product,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3,1
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2,1
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1,1

df.sort_values(by='col') - Sort dataframe

In [ ]:
data1.sort_index(ascending=True)

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format,Discount_numeric_format
0,943146,5876328741,Female,30/08/2023 20:27:08,Electric_product,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2,1
1,180079,1018503182,Male,23/02/2024 09:33:46,Electric_product,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1,1
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3,1
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3,0
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electric_product,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3,1
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electric_product,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3,1
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2,1
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1,1

In [89]:
data1.sort_index(ascending=False)

,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format,Discount_numeric_format
54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1,1
54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2,1
54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1,1
54996,706435,1144029904,Other,12/07/2021 15:59:21,Electric_product,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3,1
54995,295864,5407639888,Other,23/02/2020 10:42:04,Electric_product,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1,1
3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3,0
2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3,1
1,180079,1018503182,Male,23/02/2024 09:33:46,Electric_product,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1,1
0,943146,5876328741,Female,30/08/2023 20:27:08,Electric_product,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2,1

df.reset_index() - Reset index

By using resetn index we can the change or add new column with index that is started from the 0-->N

In [90]:
data1.reset_index()

,index,CID,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format,Discount_numeric_format
0,0,943146,5876328741,Female,30/08/2023 20:27:08,Electric_product,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2,1
1,1,180079,1018503182,Male,23/02/2024 09:33:46,Electric_product,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1,1
2,2,337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3,1
3,3,180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3,0
4,4,447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54995,54995,295864,5407639888,Other,23/02/2020 10:42:04,Electric_product,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3,1
54996,54996,706435,1144029904,Other,12/07/2021 15:59:21,Electric_product,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3,1
54997,54997,649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1,1
54998,54998,982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2,1
54999,54999,126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1,1

df.set_index('col') - Set column as index

In [91]:
data1.set_index('CID')

,TID,Gender,Purchase Date,Product Category,Discount Availed,Discount Name,Discount Amount (INR),Gross Amount,Net Amount,Purchase Method,Location,Purchase_method_numaric,Gender_numeric_format,Discount_numeric_format
CID,,,,,,,,,,,,,,
943146,5876328741,Female,30/08/2023 20:27:08,Electric_product,Yes,FESTIVE50,64.30,725.304000,661.004000,Credit Card,Ahmedabad,1,2,1
180079,1018503182,Male,23/02/2024 09:33:46,Electric_product,Yes,SEASONALOFFER21,175.19,4638.991875,4463.801875,Credit Card,Bangalore,1,1,1
337580,3814082218,Other,06/03/2022 09:09:50,Clothing,Yes,SEASONALOFFER21,211.54,1986.372575,1774.832575,Credit Card,Delhi,1,3,1
180333,1395204173,Other,04/11/2020 04:41:57,Sports & Fitness,No,NaN,0.00,5695.612650,5695.612650,Debit Card,Delhi,2,3,0
447553,8009390577,Male,31/05/2022 17:00:32,Sports & Fitness,Yes,WELCOME5,439.92,2292.651500,1852.731500,Credit Card,Delhi,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295864,5407639888,Other,23/02/2020 10:42:04,Electric_product,Yes,SEASONALOFFER21,110.89,2819.907300,2709.017300,Debit Card,Other,2,3,1
706435,1144029904,Other,12/07/2021 15:59:21,Electric_product,Yes,SEASONALOFFER21,488.59,3891.303900,3402.713900,Cash on Delivery,Bangalore,6,3,1
649435,9587323189,Male,02/08/2024 09:30:44,Home & Kitchen,Yes,NEWYEARS,417.63,4094.687500,3677.057500,Credit Card,Mumbai,1,1,1
982183,5032564481,Female,05/08/2020 23:57:56,Beauty and Health,Yes,SEASONALOFFER21,204.56,3977.473500,3772.913500,Credit Card,Kolkata,1,2,1
126691,9172953722,Male,21/07/2022 09:05:18,Beauty and Health,Yes,NEWYEARS,380.81,3703.581900,3322.771900,Credit Card,Mumbai,1,1,1